/.idea

modules/play/logs/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/

test.mv.db

#Firebase
firebase.json

influx2.properties

#PubSub
pubSub.json
pubSub-dev.json
.circleci/k8sdeploy.yaml
.circleci/k8sdeploy.yaml-e
.metals/*

.bsp/*

#puml
out/doc

.DS_Store

.bin/postgis-volume
.bloop/